@import '../../styles/utilities/breakpoints.scss';
@import '../../styles/utilities/colors.scss';

.rendered-cards {
  display: grid;
  background-color: $dark-grey;
  color: $white;
}

.rendered-cards--results {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  grid-template-areas: 'card card';
  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
      'card'
      'card';
  }
}
